/* Universal Styles */

html {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

/* Header Section */

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid gray;
}

header .nav_bar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  margin: 0 auto;
}

header .nav_list {
  display: flex;
  align-self: center;
}

header li {
  padding-left: 1rem;
}

header a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
}

.icon_mobile {
  height: 2rem;
  margin: 0 auto;
}

@media only screen and (min-width: 9.375rem) and (max-width: 50rem) {
  header .nav_bar {
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
  }

  header p {
    display: none;
  }

  header li {
    display: none;
  }
}

@media only screen and (min-width: 50.0625rem) {
  .icon_mobile {
    display: none;
  }

  header .logo {
    margin: 0;
  }
}

/* Main Content - To account for header space */

.main_content {
  display: flex;
  flex-flow: column nowrap;
  max-width: 75.625rem;
  position: relative;
  top: 4rem;
  margin: 0 auto;
  border: 1px solid grey;
}

/* Start Content Section */

.start_content {
  display: flex;
  background-color: lightgray;
  padding: 2rem 1.5rem;
}

.start_content img {
  width: 60%;
  height: auto;
  margin-right: 1.5rem;
}

.start_text {
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.start_text h1 {
  margin-bottom: 2rem;
}

.start_text h4 {
  margin-bottom: 1.5rem;
}

.button_container {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.button {
  flex-basis: 14.5rem;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  background-color: dimgray;
  color: white;
}

@media only screen and (min-width: 9.375rem) and (max-width: 50rem) {
  .start_content {
    padding: 0;
    flex-flow: column;
  }

  .start_content img {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .start_text {
    width: max-content;
    margin-left: 1rem;
  }

  .button_container {
    margin-bottom: 2rem;
  }
}

/* Mid Content Section */

.mid_content {
  display: flex;
  width: 100%;
}

.box_1 {
  display: flex;
  width: 60%;
  flex-flow: column wrap;
  margin: 2rem 1.5rem;
}

.box_1 img {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.box_1 h2 {
  margin-bottom: 1.5rem;
}

.box_2 {
  display: flex;
  width: 40%;
  flex-flow: column;
  justify-content: flex-start;
  border-left: 1px solid lightgray;
  padding: 2rem 0;
}

.box_2 .mid_desktop_img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.box_2_1 {
  display: flex;
  align-items: center;
}

.box_2_1 .mid_desktop_img {
  padding-top: 0;
}

.box_2_2 {
  display: flex;
  align-items: center;
}

.box_2_3 {
  display: flex;
  align-items: center;
  background-color: lightgray;
}

.asidetext {
  width: 65%;
}

.asidetext h3 {
  margin: 0.5rem 0;
}

.asidetext p {
  margin: 0.5rem 0;
}

.asidetext a {
  margin: 0.5rem 0;
}

.mid_content a {
  text-decoration: none;
  color: blue;
}

@media only screen and (min-width: 9.375rem) and (max-width: 50rem) {
  .mid_content .box_1 {
    display: none;
  }

  .mid_content .box_2 {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
    border: none;
  }

  .mid_content .box_2_1 {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 4rem;
  }

  .mid_content .box_2_2 {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 4rem;
  }

  .mid_content .box_2_3 {
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 2rem;
    background-color: transparent;
  }

  .mid_content_image_mobile {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem 1rem;
  }

  .mid_desktop_img {
    display: none;
  }

  .asidetext {
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 50.0625rem) {
  .mid_content_image_mobile {
    display: none;
  }
}

/* Learning Section */

.learning_content {
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.learning_content h2 {
  text-align: center;
  padding: 2rem;
}

.boxes {
  display: flex;
  flex-flow: row wrap;
  padding: 0 4.5rem 2rem 4.5rem;
  max-width: 66rem;
}

.boxes h4 {
  margin: 1rem;
}

.boxes p {
  margin: 0.5rem 1rem;
}

.boxess {
  display: flex;
  flex-flow: column;
  margin: 1rem;
  width: min-content;
  background-color: white;
}

#boxes_1.boxess {
  margin-top: 0;
}

#boxes_2.boxess {
  margin-top: 0;
}

#boxes_3.boxess {
  margin-top: 0;
}

.boxess img {
  height: auto;
  width: 20rem;
}

.boxess p {
  text-wrap: wrap;
}

p.description {
  margin-bottom: 1.5rem;
}

/* Thesis Section */

.thesis_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thesis_content h2 {
  text-align: center;
  padding: 2rem;
}

.thesisboxes {
  display: flex;
  flex-direction: row;
}

.thesis_content .box_2 {
  align-self: flex-start;
}

video {
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.thesis_content h4 {
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 9.375rem) and (max-width: 50rem) {
  .thesis_content h2 {
    padding: 1rem 0;
  }

  .thesis_content .box_2 {
    display: none;
  }

  .thesis_content p {
    display: none;
  }

  .thesis_content h4 {
    display: none;
  }

  .thesis_content .box_1 {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }

  .thesis_content video {
    margin: 0;
  }
}

/* Footer */

#footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  padding: 1rem 2rem;
}

.tandp a {
  padding-left: 0.5rem;
  text-decoration: none;
}

@media only screen and (min-width: 9.375rem) and (max-width: 50rem) {
  footer .tandp {
    display: none;
  }
}
