/* Universal Styles */

html {
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

/* Header Section */

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 100;
}

header .nav_bar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
}

header .nav_list {
  display: flex;
  align-self: center;
}

header li {
  padding-left: 1rem;
}

header a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
}

/* Main Content - To account for header space */

.main_content {
  position: relative;
  top: 4rem;
}

/* Start Content Section */

.start_content {
  display: flex;
  background-color: lightgray;
  padding: 2rem 1.5rem;
}

.start_content img {
  width: 60%;
  height: auto;
  padding-right: 1.5rem;
}

.start_text {
  width: 20%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: start;
}

.button {
  width: 90%;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  background-color: dimgray;
  color: white;
}

/* Mid Content Section */

.mid_content {
  display: flex;
  width: 100%;
  padding: 2rem 0;
}

.box_1 {
  display: flex;
  width: 60%;
  flex-flow: column wrap;
  padding: 0 1.5rem 2rem 1.5rem;
}

.box_1 img {
  width: 100%;
  height: auto;
}

.box_2 {
  display: flex;
  width: 40%;
  flex-flow: column;
}

.box_2 img {
  width: 30%;
  height: auto;
  padding: 1rem;
}

.box_2_1 {
  display: flex;
  align-items: center;
}

.box_2_1 img {
  padding-top: 0;
}

.box_2_2 {
  display: flex;
  align-items: center;
}

.box_2_3 {
  display: flex;
  align-items: center;
  background-color: lightgray;
}
